* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


body {
    /**
    background: url(/ОбучениеCSS/wallpapersden.com_k-cool-2020-art_3840x2160.jpg) 50% 0/cover no-repeat;**/
    background: url("https://images.wallpapersden.com/image/download/4k-cool-2020-art_bGdla2aUmZqaraWkpJRobWllrWdma2U.jpg") 50% 0/cover no-repeat;
    background-attachment: fixed;
    font-family: 'Old Standard TT', serif;
    font-family: 'Permanent Marker', cursive;
}

.one {
    width: 20%;
    height: 39%;

    position: fixed;

    top: 1%;
    left: 1%;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 8px 8px 15px 5px #ff00f2a6;
    background: -webkit-linear-gradient(#0000001c, #0906ad60);
}

.one .ninja {
    position: relative;
    height: 75%;
    width: 100%;
    padding: 15% 25% 10% 25%;
    border: 1px solid rgba(0, 0, 0, 0.541);
    border-radius: 30px 30px 30px 30px;
    background: -webkit-linear-gradient(#00000049, #0051e627);
}

.two {
    position: relative;
    width: 95%;
    height: 20%;
    top: 2.5%;
    left: 2.5%;
    display: inline-block;
    border-radius: 30px 30px 30px 30px;
    background: -webkit-linear-gradient(#0000009f, #0400e660);
    box-shadow: 2px 2px 10px 3px #3498dbcc, inset 2px 2px 10px 3px #3498dbcc;
    display: flex;
    align-items: center;
    justify-content: center;

}

.name-my {
    color: rgba(255, 255, 255, 0.808);
    text-shadow: 5px 5px 5px #00fff2d3;
    font-size: 28px;
}



section {
    position: fixed;
    height: 55%;
    width: 20%;

    top: 43%;
    left: 1%;

    border-radius: 30px 30px 30px 30px;
    box-shadow: 8px 8px 15px 5px #ff00f2a6, 0px -2px 15px 5px #ff00f275;
    background: -webkit-linear-gradient(#0000001c, #0906ad60);
}




section .contact {
    position: relative;
    width: 95%;
    height: 15%;

    top: 1%;
    left: 2.25%;
    border-radius: 30px 30px 30px 30px;
    background: -webkit-linear-gradient(#0000009f, #0400e660);
    box-shadow: 2px 2px 10px 3px #3498dbcc, inset 2px 2px 10px 3px #3498dbcc;

    display: flex;
    align-items: center;
    justify-content: center;
}

h2.tema {
    text-shadow: 5px 5px 5px #00fff2d3;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.808);
}


.div-a {
    position: relative;
    min-height: 80%;
    width: 98%;

    top: 4%;
    left: 1%;

    border-radius: 30px 30px 30px 30px;
    background: -webkit-linear-gradient(#0000001c, #0906ad60);
}

ul.icon-a {
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.div-a .icon-a .i-a {
    color: rgba(248, 248, 248, 0.863);
    padding: 5% 5%;
}

.link {
    color: #06affdb2;
}

.fa-brands {
    color: rgb(211, 214, 211);
}






.nav {
    position: relative;
    height: 13.5%;
    width: 76.5%;

    top: 1%;
    left: 23%;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 5px 8px 15px 5px #ff00f2a6, inset 5px 2px 10px 5px #ff00f2a6;
    background: -webkit-linear-gradient(#0000001c, #0906ad60);
    z-index: 1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.nav li {
    text-align: center;

}

.nav li a {
    display: inline-block;
    height: 50px;
    width: 150px;
    border-radius: 30px 30px 30px 30px;
    color: rgba(255, 255, 255, 0.808);
    font-size: 40px;
    text-shadow: 5px 5px 5px #00fff2d3;
    background-color: #00000027;
    box-shadow: 5px 5px 20px #00d9ff5e, inset -5px -5px 20px #00d9ff91;
}

.nav li a:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #00eeff67;
}






article {
    position: relative;
    left: 23.2%;
    top: 4.5%;
    width: 76%;
    color: rgba(255, 255, 255, 0.808);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 8px 8px 15px 5px #ff00f2a6, -3px -2px 15px 5px #ff00f2a6;
    background: -webkit-linear-gradient(#00000073, #051fb157);
}

.h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 2%;
    text-shadow: 5px 5px 5px #00fff2d3;
}

.description {
    font-size: 25px;
    margin: 2% 0% 0% 2%;
    padding-bottom: 5%;
}

.interest {
    padding-left: 2%;
    padding-top: 1%;
}